h3 {
  text-align: center;
  margin: 20px 0px;
}

table {
  margin: auto;
}

table,
th,
td {
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
  color: #3a3a3a;
}
tr:hover {
  background-color: #f0f0f0;
}
