* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #212121;
  padding: 0px 30px;
}

/*----- Utility ---- */
.layout {
  width: 960px;
  margin: auto;
  padding: 5px 0px;
}
.no-decor {
  text-decoration: none;
}
.light-font {
  color: #c7c7c7;
}
.dark-font {
  color: #555555;
}
.dark-bg {
  background-color: #1b1b1b;
}
.light-bg {
  background-color: #dfdfdf;
}
.default-pad {
  padding-bottom: 10px;
}
.center-xy {
  text-align: center;
  font-size: 24px;
  line-height: 360px; //improve
}
.mb-2 {
  margin-bottom: 20px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.left,
.right {
  font-size: 13px;
  padding: 8px 0px;
}
.h-list-wrapper {
  list-style-type: none;
}
.h-list-wrapper > * {
  display: inline-block;
  font-size: 12px;
}
/* ----------------- */

nav {
  background-color: #131313;
}

nav ul li {
  padding: 8px;
}

.main {
  background-color: #ffffff;
  padding: 20px 0px;
}

.banner {
  height: 360px;
  /* margin-bottom: 20px; */
}

.article-wrapper p {
  padding: 5px 13px;
}

hr {
  width: 960px;
  margin: auto;
  margin-bottom: 10px;
  border: 0.5px solid #c7c7c7;
}

.card {
  border: 0.5px solid #c7c7c7;
  padding: 3px;
  margin-right: 20px;
}

.card:last-child {
  margin-right: auto;
}

.holder {
  height: 315px;
  width: 215px;
}

.card p {
  text-align: center;
  padding: 5px;
}

footer {
  height: 30px;
}
